// VARIABLES

// GLOGAL
$background-color: #35313F

// CONTAINER
$container-padding: 8px

// SIDEBAR
$sidebar-background-color: #171717
$sidebar-width: 60px
$sidebar-shadow: 3px 0px 10px 0px rgba(0, 0, 0, 0.5)
$sidebar-initial-animation-duration: 1s

// SOCIAL-MENU
$social-menu-li-vertical-margin: 8px
$social-menu-ul-max-width: 60px